@using ProgrammerAl.Site.Utilities.Entities
@using System.Collections.Immutable

@if (Posts != null)
{
    <div class="col-sm-8 right-border">
        @foreach (var blogPost in Posts)
        {
            <div class="post-preview">
                <a href="/blog/posts/@blogPost.TitleLink">
                    <h2>@blogPost.Title</h2>
                </a>
                <p class="post-meta">Posted on @blogPost.PostedDate.ToLongDateString()</p>
                <p><em>@blogPost.FirstParagraph</em></p>
            </div>
        }
    </div>
}

@functions{
    [Parameter]
    private BlogPostSummary[] Posts { get; set; }
}