.post-title h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    margin: 0;
}

.post-title p {
    font-size: 0.875rem; /* 14px */
    text-align: center;
}

.post-content {
    margin-top: 2em;
}

    .post-content p {
        margin-top: 2em;
        font-size: 1.25rem;
        margin: 0 0 2em 0;
    }

    .post-content h1 {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 800;
        font-size: 1.875em;
        line-height: 2.25rem;
    }

    .post-content h2 {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 1.4em;
        line-height: 2rem;
    }

    .post-content h3 {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.25em;
        line-height: 1.75rem;
    }

    .post-content h4,
    .post-content h5,
    .post-content h6 {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.125em;
        line-height: 1.75rem;
    }

    .post-content a {
        color: #1d4ed8;
    }

        .post-content a:hover,
        .post-content a:focus {
            color: #337ab7;
        }

        .post-content a img:hover,
        .post-content a img:focus {
            cursor: zoom-in;
        }

    .post-content blockquote {
        color: #555555;
        font-style: italic;
    }

        .post-content blockquote > p {
            margin-top: 0;
        }

    .post-content ul {
        list-style: initial;
        padding: 1rem 1rem 1rem 2rem;
    }

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
    padding: 1rem;
}


@media (prefers-color-scheme: dark) {

    .post-content a {
        color: #818CF8;
    }

        .post-content a:hover,
        .post-content a:focus {
            color: #9EA7F8;
        }
}
