
<nav class="px-2">
    <div class="container mx-auto flex items-center justify-between">
        <div class="flex place-self-end block text-center text-green-700 self-end font-semibold">
            <span class="text-green-700 self-end lg:text-lg font-semibold hidden md:inline">Al Rodriguez | ProgrammerAL</span>
        </div>
        <div class="w-auto place-self-end grid md:grid-rows-1 grid-cols-4 place-items-center items-center space-x-2 lg:space-x-8">
            <a href="#"
               class="text-green-700 hover:text-green-800 active:text-green-600 focus:text-green-900
                       text-sm lg:text-lg font-semibold
                       block text-center
                       border-none hover:bg-transparent border-0
                       col-start-1
                       px-2">Home</a>

            <a href="blog"
               class="text-green-700 hover:text-green-800 active:text-green-600 focus:text-green-900
                       text-sm lg:text-lg font-semibold
                       block text-center
                       border-none hover:bg-transparent border-0
                       col-start-2
                       px-2">Blog Posts</a>

            <a href="about"
               class="text-green-700 hover:text-green-800 active:text-green-600 focus:text-green-900
                       text-sm lg:text-lg font-semibold
                       block text-center
                       border-none hover:bg-transparent border-0
                       col-start-3
                       px-2">Profile</a>

            <a href="https://github.com/ProgrammerAl" target="_blank"
               class="text-green-700 hover:text-green-800 active:text-green-600 focus:text-green-900
                       text-sm lg:text-lg font-semibold
                       block text-center
                       border-none hover:bg-transparent border-0
                       col-start-4
                       px-2">Github Profile</a>
        </div>
    </div>

    <div class="border-green-700 border-b-4 border-solid w-full mt-2 mx-auto"></div>
</nav>
