@using ProgrammerAl.Site.Components.AnimatedComponents
<div class="flex flex-col gap-2 border p-4 m-8">
    <p class="font-semibold text-lg">If you have time, please provide anonymous feedback:</p>
    <textarea @bind-value="@Comments" @bind-value:event="oninput"
              placeholder="Place feedback here..."
              rows="4"
              maxlength="2000"
              class="block p-2.5 w-full text-sm text-gray-900
                    bg-gray-50 rounded-lg
                    border border-2 border-gray-300
                    focus:ring-blue-500 focus:border-blue-500
                    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                    dark:focus:border-blue-500" />

    @if (SubmitState == SubmitStateType.NotSubmitted)
    {
        <button @onclick=@PostCommentsAsync
                class="p-2 w-2/5 place-self-center
                   border border-2 border-green-800 rounded
                   font-bold text-xl"
                disabled=@(string.IsNullOrWhiteSpace(Comments) ? "true" : "false")>
            Submit Feedback
        </button>
    }
    else if (SubmitState == SubmitStateType.Submitting)
    {
        <div class="place-self-center">
            <GreenSpinnerComponent TailwindCssHeightClass="h-12" TailwindCssWidthClass="w-12" />
        </div>
    }
    else if (SubmitState == SubmitStateType.SubmitSuccessful)
    {
        <p class="font-semibold text-lg">Thank you for your feedback! Buy yourself a sticker from your marketplace of choice!</p>
    }
    else if (SubmitState == SubmitStateType.SubmitFailed)
    {
        <p class="font-semibold text-lg text-red-800">@ErrorResultMessage</p>
    }
</div>
