@using ProgrammerAl.Site.Utilities.Entities

@if (Posts != null)
{
    <div class="flex flex-col gap-8">
        @foreach (var blogPost in Posts)
        {
            var paragraphMarkup = new MarkupString(blogPost.FirstParagraph);

            <div>
                <a class="text-xl font-bold" href="/posts/@blogPost.TitleLink">
                    <h2>@blogPost.Title</h2>
                </a>
                <p class="text-sm italic">Posted on @blogPost.PostedDate.ToLongDateString()</p>
                <p class="text-base">@paragraphMarkup</p>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public BlogPostSummary[] Posts { get; set; }
}
