@using ProgrammerAl.Site.Utilities.Entities

@if (Posts != null)
{
    <div class="flex flex-col gap-4">
        @foreach (var post in Posts)
        {
            var paragraphMarkup = new MarkupString(post.FirstParagraph);

            <div class="border border-2 border-green-800 p-2">
                <a class="text-xl font-bold" href="/posts/@post.TitleLink">
                    <h2>@post.TitleHumanReadable</h2>
                </a>
                <p class="text-sm italic">Posted on @post.PostedDate.ToLongDateString()</p>
                <p class="text-base">@paragraphMarkup</p>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public PostSummary[]? Posts { get; set; }
}
