@page "/about"

<div class="container">
    <div class="row">
        <div id="content" class="col-md-12">
            <p>Hi there! I'm Al Rodriguez and here's my stat line:</p>
            <ul>
                <li>Al Rodriguez</li>
                <li>Level 5: Code Wizard</li>
                <li>Str: 10</li>
                <li>Dex: 10</li>
                <li>Con: 10</li>
                <li>Int: 10</li>
                <li>Wis: 10</li>
                <li>Cha: 10</li>
            </ul>
            <p>Look at those stats. That's right! I'm your standard, everyday software developer suffering from imposter syndrome. And that's where this blog comes in. While I have a day job, the Main Quest if you will, there's still a whole bunch of other technologies out there to play with.</p>
            <p>I currently work for SeaWorld Parks and Entertainment in Orlando. The majority of my work goes into customer facing and internal web applications. </p>
            <p>This blog details my Side Quests, which is all the other development-related work I get to learn and play with inside of my own free time.</p>
            <p>
                <img src="https://developersidequests.blob.core.windows.net/site/assets/images/icons/twitter.png" class="img-fluid" alt="Twitter Icon" />
                <a href="http://twitter.com/ProgrammerAl">Follow my ramblings on Twitter</a>
            </p>
            <div class="alert alert-info">
                <p><strong>Disclaimer</strong>: This is my personal blog. Which means that <strong>any and all content and opinions posted are my own</strong>, and never from my employer.</p>
            </div>
        </div>
    </div>
</div>