@page "/blog"
@inherits ProgrammerAl.Site.PageModels.BlogModel

<div class="container">
    <div class="row">
        @if (BlogPosts != null)
        {
            var postsByYear = BlogPosts.OrderByDescending(x => x.PostNumber).GroupBy(x => x.PostedDate.Year);
            foreach (var postByYear in postsByYear)
            {
                <div id="content" class="col-md-12">
                    <h1>@postByYear.Key</h1>
                    <hr>
                    @foreach (var post in postByYear)
                    {
                        <div class="post-list">
                            <a href="/blog/posts/@post.TitleLink">
                                <h3 class="post-title">@post.Title</h3>
                            </a>
                            <p class="post-meta">Posted on @post.PostedDate.ToLongDateString()</p>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>