@model ProgrammerAl.Site.Utilities.Entities.BlogPostEntry

<h1>
    @Model.Title
</h1>
<p> Posted on: @Model.ReleaseDate.ToLongDateString()</p>

<div id="content" class="grid grid-cols-12">
    @Raw(Model.Post)
</div>

