@model ProgrammerAl.Site.Utilities.Entities.BlogPostEntry

<div id="post-title">
    <h1>
        @Model.Title
    </h1>
    <p> Posted on: @Model.ReleaseDate.ToLongDateString()</p>
</div>

<div class="post-content">
    @Raw(Model.Post)
</div>

