@model ProgrammerAl.Site.Utilities.Entities.PostEntry

<div>
    <h1 class="text-center text-4xl font-extrabold">
        @Model.Title
    </h1>
    <p class="text-center text-sm">Posted on: @Model.ReleaseDate.ToLongDateString()</p>
    @if (Model.Tags.Any())
    {
        <p class="text-center text-sm">Tags: @(string.Join(", ", Model.Tags))</p>
    }

</div>

<div class="mt-4">
    @Raw(Model.Post)
</div>


