<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".dll" />
      <remove fileExtension=".json" />
      <remove fileExtension=".wasm" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".js.gz" />
      <remove fileExtension=".dll.gz" />
      <remove fileExtension=".json.gz" />
      <remove fileExtension=".wasm.gz" />
      <remove fileExtension=".js.br" />
      <remove fileExtension=".dll.br" />
      <remove fileExtension=".json.br" />
      <remove fileExtension=".wasm.br" />
      <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
      <mimeMap fileExtension=".dll.gz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json.gz" mimeType="application/json" />
      <mimeMap fileExtension=".wasm.gz" mimeType="application/wasm" />
      <mimeMap fileExtension=".js.br" mimeType="application/javascript" />
      <mimeMap fileExtension=".dll.br" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json.br" mimeType="application/json" />
      <mimeMap fileExtension=".wasm.br" mimeType="application/wasm" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <remove mimeType="application/javascript" />
        <remove mimeType="application/json" />
        <remove mimeType="application/octet-stream" />
        <remove mimeType="application/wasm" />
      </dynamicTypes>
      <staticTypes>
        <remove mimeType="application/javascript" />
        <remove mimeType="application/json" />
        <remove mimeType="application/octet-stream" />
        <remove mimeType="application/wasm" />
      </staticTypes>
    </httpCompression>
  </system.webServer>
</configuration>