@page "/"
@using ProgrammerAl.Site.Components
@using ProgrammerAl.Site.Components.AnimatedComponents
@inherits ProgrammerAl.Site.PageModels.IndexModel

<header>
    <div class="text-center m-4">
        <p class="text-2xl">Hi there everyone. I'm AL RODRIGUEZ. A real-life, human programmer, with a website. This website! Welcome to my website.</p>
        <p class="">Please note I have no make-things-look-pretty skills, which explains why this site looks the way it does. But if it bothers you that much, I accept <a href="https://github.com/ProgrammerAl/ProgrammerAlSite" class="underline hover:font-semibold">Pull Requests on GitHub</a></p>
    </div>
</header>

@if (IsLoadingRecents)
{
    <div class="pt-4 text-center">
        <GreenSpinnerComponent TailwindCssHeightClass="h-24" TailwindCssWidthClass="w-24" />
    </div>
}
else if (Recents != null)
{
    <div class="pb-4">
        <RecentBlogPosts Posts="@Recents.RecentBlogPosts" />
    </div>
}

<a href="/posts" class="underline text-blue-600 text-center">View all posts</a>
