@page "/posts"
@inherits ProgrammerAl.Site.PageModels.BlogModel

@if (BlogPosts != null)
{
    var postsByYear = BlogPosts.OrderByDescending(x => x.PostNumber).GroupBy(x => x.PostedDate.Year);
    foreach (var postByYear in postsByYear)
    {
        <div>
            <h1 class="mt-4 font-semibold text-lg">@postByYear.Key</h1>
            <hr>
            @foreach (var post in postByYear)
            {
                <div class="mt-4">
                    <a href="/posts/@post.TitleLink">
                        <p class="text-lg">@post.Title</p>
                    </a>
                    <p class="text-sm">Posted on @post.PostedDate.ToLongDateString()</p>
                </div>
            }
        </div>
    }
}
