@page "/speaking"

<p>I have been speaking in public since I was a teenager. Professionally I have spoken at conferences, user groups, meetups, and podcasts. You can find a history of my professional events by <a href="/posts" class="underline hover:font-semibold">scrolling through my blog posts</a></p>

<p>Feel free to <a href="/about" class="underline hover:font-semibold">contact me</a> at any time</p>
