@page "/tools"
@using ProgrammerAl.Site.Components

<div class="flex flex-col gap-4">

    <ToolDescriptionComponent
        Link="https://svg-utils.ProgrammerAL.com"
        LinkText="SVG Utils"
        Description="A collection of utilities for manually modifying SVG file text."
        />

    <ToolDescriptionComponent
        Link="https://qr-code-utils.ProgrammerAL.com"
        LinkText="QR Code Utils"
        Description="A tool to generate direct QR Codes with no intermediary link." />

    <ToolDescriptionComponent
        Link="https://programmeral.com/posts/20241103_CodeUpdater"
        LinkText="Code Updater"
        Description="A .NET Tool to update code packages and other settings." />

</div>

